h1 { 
    font-family: 'Montserrat',sans-serif; 
    font-size: 3rem;
    color: white; 

}
.navbar-brand{
    font-size: 3rem;
}
.container-fluid-1{
    padding: 3% 15%;
    background-color: #ff4c68;

}

#title{
    background-color: #ff4c68;
}